body { 
    margin:0;
    font-size: bold;
}

.cover {
    height: 180px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    text-align: left;

    
}



.logo {
    width: 200px;
    margin-top: 120px;
    
}

h1 {
    font-size: 2.5em;
    font-weight: bold;

}


address {
    font-style: normal;
    color: #959595;

}

address > span {

    font-size: .8em;

}

.author {
    text-decoration: none;
    color: #6ec6ed;
}

figcaption{
    font-size: .8em;
}

.highlight {
        background-color: #fefe00;

}



table {
    text-align: left;

}

.table-head{
    background-color: #4ea0ff;
    color: #ffffff;

}


.table-row-b{
    background-color: #b1e5f2;

}


.sugg{ color: #777777;}

.picmonitor {
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

.picstat{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;

}


.picmonitor>h3 , .picstat>h3 {color: white;}

/*###################################################
###################################################
CLASSE BONUS DA DECOMMENTARE PER WRAPPARE IL LAYOUT
###################################################
###################################################



.wrap{
    max-width: 1250px;
    margin: 0 auto;
}

*/
